section.description {
    background-color: var(--cor-primaria);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section.description .container {
    max-width: 85.5%;
}

section.description .container > h1 {
    font-family: var(--fonte-secundaria);
    text-shadow: var(--sombra-padrao);
    color: var(--cor-texto-claro);    

    font-size: 6.5vh;
    font-weight: 600;
}

section.description .container > p {
    font-family: var(--fonte-secundaria);
    text-align: justify;
    font-weight: 320;
    font-size: 3vh;
    margin: 25px 0px 45px 0px;
}

section.description .container > h2 {
    font-family: var(--fonte-primaria);
    font-size: 2.7vh;
    font-weight: 600;
}

section.description .container > a {
    border-radius: var(--borda-radius-media);
    border: 2px solid var(--cor-borda);
    box-shadow: var(--sombra-padrao);
    color: var(--cor-texto-botao);

    display: inline-block;
    text-decoration: none;

    padding: 12px 40px;
    margin: 15px 0;

    font-size: 1.2em;
    transition: 0.3s ease-in-out;
}

section.description .container > a:hover {
    background-color: var(--cor-botao-hover);
}