section.register {
    background-color: var(--cor-fundo);

    display: flex;
    align-items: center;
    justify-content: center;
}

section.register .container {
    border-radius: var(--borda-radius-grande);
    border: 2px solid var(--cor-secundaria);
    box-shadow: var(--sombra-padrao);

    height: 85%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.register .container > h1 {
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
    font-size: 4.5vh;
}

section.register .container > p {
    font-family: var(--fonte-primaria);
    color: var(--cor-subtitulo);
    font-size: 2.5vh;
    margin: 0px 0px 15px 0px;
}

section.register .container > form {
    width: 80%;
}

section.register .input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section.register .input-group > label {
    font-family: var(--fonte-primaria);
    font-size: 2.6vh;
}

section.register .input-group > input {
    margin: 0px 0 15px;
    padding: 10px 0px;
    width: 100%;

    border: 0;
    outline: 0;

    font-family: var(--fonte-primaria);
    font-size: 2.2vh;
}

section.register .input-group > input::placeholder {
    color: var(--cor-subtitulo);
}

div.gatilho {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

div.gatilho > input[type=submit] {
    border-radius: var(--border-radius-botao);
    background-color: var(--cor-botao);
    font-size: var(--tamanho-pequeno);
    font-family: var(--fonte-padrao);
    color: var(--cor-texto-botao);

    transition: 0.3s ease-in-out;
    letter-spacing: 1px;
    padding: 12px 40px;
    cursor: pointer;
    border: none;
}

div.gatilho > input[type=submit]:hover {
    background-color: var(--cor-botao-hover);
}