section.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    width: 50vw;
}

section.imagem > img {
    height: 86.5%;
    width: 100%;
}

section.imagem > div {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 91.5%;
}

section.imagem > div > a {
    background-color: var(--cor-destaque);
    box-shadow: var(--sombra-padrao);
    color: var(--cor-texto-claro);
    font-family: var(--fonte-primaria);
    gap: var(--espacamento-medio);
    padding: var(--espacamento-medio);
    border-radius: var(--borda-radius-media);
    
    transition: 0.3s ease-in-out;
    text-decoration: none;
    font-size: 2.2vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

section.imagem > div > a:hover {
    background-color: var(--cor-hover);
}