@charset "UTF-8";

* {
    font-family: var(--font-fundo);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
}

body, html, section {
    width: 100vw;
    height: 100vh;
}